Django
django-environ
Pillow
python-decouple
Faker
pytest
pytest-django
pytest-factoryboy
gunicorn
django-ckeditor
django-modeltranslation
python-gettext
django-allauth
django-recaptcha
selenium
undetected_chromedriver