Django>=3.0.6,<3.1
django-environ
Pillow
python-decouple
Faker
pytest
pytest-django
pytest-factoryboy
gunicorn
django-ckeditor
django-modeltranslation
python-gettext
django-allauth
django-recaptcha3
selenium
undetected_chromedriver