Django
django-environ
Pillow
python-decouple
Faker
pytest
pytest-django
pytest-factoryboy
gunicorn
nginx
django-ckeditor
django-modeltranslation
gettext
django-allauth
selenium
undetected_chromedriver