{% extends 'base.html' %}
{% block title %} {% endblock title %}
{% block content %}


<section class="ab-info-main py-md-5 py-4 editContent" style="padding-left: 3rem; padding-right: 3rem;">
    <div class="container-fluid py-md-3">
        <div class="side-bar col-lg-3">
            {% include 'include/sidebar.html' %}
            {% block sidebar %}

            {% endblock sidebar %}
        </div>

        <div class="row">
            {% block container %}

            {% endblock container %}
        </div>
        <div class="row">
            {% block movie %}

            {% endblock movie %}
        </div>
    </div>
</section>

{% endblock content %}