[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/var/lib/jenkins_home/workspace/movies-website-ci-cd/
ExecStart=/bin/bash /var/lib/jenkins_home/workspace/movies-website-ci-cd/scripts/gunicorn.service --workers 3 --log-level debug --error-logfile /var/lib/jenkins_home/workspace/movies-website-ci-cd/error.log --bind unix:/run/gunicorn.sock app.wsgi:application

[Install]
WantedBy=multi-user.target
